body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: white;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
}


.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }
.nav-link:hover{background-color: #1abc9c;}
.display-4 {font-weight: bold;}
.card-body-icon{
  position: absolute;
  z-index: 0;
  top: 25px;
  right: 4px;
  opacity: 0.4;
  font-size: 90px;
}

.h2 {
  font-family: 'Poppins', sans-serif;
}