@font-face {
  font-family: Nunito;
  src: url(font/Nunito-Regular.ttf);
}

@font-face{
  font-family: Poppins;
  src: url(font/Poppins-Regular.ttf);
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;

}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: white;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
}

.awal {
  margin-left: 11%;
  margin-top: 3cm;
  font-family: Poppins;
}

.container {
  position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
}

.container label{
  text-align: left;
}

.container form input{
  width: 400px;
  border-radius: 8px;
  border-color: #32AF85;
  border-style: solid;
  position: left;
}

.container-box {
  position: absolute;
    left: 70%;
    top: 68%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
}

.container-box button {
  width: 400px;
  border-radius: 50px;
  background-color: #32AF85;
  border: none;
  color: white;
}

.footer {
  position:absolute;
   bottom: 0;
   width:100%;
   text-align: center;
   left: 26%;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }
